<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="azs-search-service-dsergdwdn6wxe" />
      <add key="SearchServiceApiKey" value="A7388CC991FFD21135ED9E5377D577C2" />
      <add key="SearchServiceQueryKey" value="54B37E8ED0468A59956789899F565162" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="c5617be90a6a4003ad24f67198db1f26" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=azsstoragedsergdwdn6wxe;AccountKey=LvjqCePndqjxaFXrxUoSknAFsbXrTIKjMdkd6B/vav/pvpmnoWX6P9TZPYioqipFtQfTywaKtbsM7PJrVRxBxA==;" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="azs-site-dsergdwdn6wxe" />
      <add key="AzureWebAppUsername" value="$azs-site-dsergdwdn6wxe" />
      <add key="AzureWebAppPassword" value="jRy7QN4BbgmdmElk1QcjeJfZusvl3AkRCB0lWMMxoaALqdby6HGy6Gkh80lu" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="azs-function-app-dsergdwdn6wxe" />
      <add key="AzureFunctionUsername" value="$azs-function-app-dsergdwdn6wxe" />
      <add key="AzureFunctionPassword" value="jmBGKdLJBzoHxlH6v5vlwZce9uujq2Xdpunlnw4TY44qlwPkTtjHBln4g3aH" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=azuresearchfiles;AccountKey=7JVazFwa2Qy7HhA9w+wMOcR8PZertsRIA6Bh6v6r6RZUZwecJtW+4+jTowSWhdJ145/yyn9+yuW0WVk3o0PFEQ==;EndpointSuffix=core.windows.net" />
      <add key="JFKFilesBlobContainerName" value="documents" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="SkillsetName" value="jfkskillset" />
      <add key="IndexerName" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>